<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86744107893-guhkv0215p0rrbsosnn9tl7j0patdpd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86744107893-guhkv0215p0rrbsosnn9tl7j0patdpd2</string>
	<key>API_KEY</key>
	<string>AIzaSyCaqsmqiBzZnTc8ZHAvw5wyTLqdl-44bhg</string>
	<key>GCM_SENDER_ID</key>
	<string>86744107893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationRecommendation</string>
	<key>PROJECT_ID</key>
	<string>skripsi-c47d7</string>
	<key>STORAGE_BUCKET</key>
	<string>skripsi-c47d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86744107893:ios:cbb6f0232272556ca7e13c</string>
</dict>
</plist>